.c{
    background-color: deeppink;
}
#id4{
    background-color: orangered;
}
*{
    font-family: cursive;
}
.d{
    background-color: darkgoldenrod;
}    
.e{
    background-color: deepskyblue;
}
#id5{
    background-color: darksalmon;
}